[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
certifi = "==2020.4.5.2"
cloudinary = "==1.21.1"
django = "==3.0.7"
djangorestframework = "==3.11.0"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
urllib3 = "==1.25.9"
django-ckeditor = "*"
django-mathfilters = "*"

[requires]
python_version = "3.8"
