asgiref==3.2.10
autopep8==1.5.4
Django==3.1.1
django-ckeditor==6.0.0
django-js-asset==1.2.2
djangorestframework==3.12.1
mysqlclient==2.0.1
Pillow==7.2.0
pycodestyle==2.6.0
python-decouple==3.3
pytz==2020.1
sqlparse==0.3.1
toml==0.10.1
