<footer class="footer has-cards">
    <div class="container">
        <hr>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; 2020 <a href="/">Find-Z</a>.
                </div>
            </div>
            <div class="col-md-6 ">
                <ul class="nav nav-footer justify-content-end ">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>