{% load static %}

  <!--   Core JS Files   -->
  <script src="{% static 'main/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'main/js/core/popper.min.js' %}"></script>
  <script src="{% static 'main/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>

  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'main/js/plugins/bootstrap-switch.js' %}"></script>

  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'main/js/plugins/nouislider.min.js' %}"></script>
  <script src="{% static 'main/js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'main/js/plugins/datetimepicker.js' %}"></script>
  <script src="{% static 'main/js/plugins/bootstrap-datepicker.min.js' %}"></script>

  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'main/js/argon-design-system.min.js' %}"></script> 