{% load static %}
<!-- Sign In Modal-->
<div class="modal fade" id="signin-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0 mb-0">
          <div class="card-header bg-white pb-5">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="text-muted text-center mb-3">
              <small>Sign in with</small>
            </div>
            <div class="btn-wrapper text-center">
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/github.svg' %}>
                </span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/google.svg' %}>
                </span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Or sign in with credentials</small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password">
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                <label class="custom-control-label" for=" customCheckLogin">
                  <span>Remember me</span>
                </label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-info my-4">Sign in</button>
              </div>
            </form>
            <div class="text-center mb-4">
              <small>Don't have an account? <button type="button" class="btn btn-outline-info btn-round btn-sm sign-up" data-dismiss="modal" data-toggle="modal" data-target="#signup-form">Sign Up</button></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up Modal-->
<div class="modal fade" id="signup-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0 mb-0">
          <div class="card-header bg-white pb-5">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="text-muted text-center mb-3">
              <small>Sign up with</small>
            </div>
            <div class="btn-wrapper text-center">
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/github.svg' %}>
                </span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/google.svg' %}>
                </span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Or sign up with credentials</small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-info my-4">Sign Up</button>
              </div>
            </form>
            <div class="text-center mb-4">
              <small>Already have an account? <button type="button" class="btn btn-outline-info btn-round btn-sm sign-in" data-dismiss="modal" data-toggle="modal" data-target="#signin-form">Sign In</button></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
