{% load static %}
<!-- Sign In Modal-->
<div class="modal fade" id="signin-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0 mb-0">
          <div class="card-header bg-white pb-4">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="text-muted text-center mb-3">
              <small>Sign in with</small>
            </div>
            <div class="btn-wrapper text-center">
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/github.svg' %}>
                </span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/google.svg' %}>
                </span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-4">
            <div class="text-center text-muted mb-4">
              <small>Or sign in with credentials</small>
            </div>
            <form role="form" class="signin-form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                  </div>
                  <input class="form-control" placeholder="Username" id="uname" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" id="password" type="password">
                </div>
              </div>
              <div class="custom-control custom-control-alternative mt--2">
                <div class="text-right text-muted">
                  <small>Forgot Password</small>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-info my-4" id="signin-btn">Sign in</button>
              </div>
              <div class="form-group mt--2 mb--1">
                <div class="alert alert-danger" id="signin_error" style="display:none">

                </div>
              </div>
            </form>
            <div class="text-center mb-4">
              <small>Don't have an account? <button type="button" class="btn btn-outline-info btn-round btn-sm sign-up" data-dismiss="modal" data-toggle="modal" data-target="#signup-form">Sign Up</button></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up Modal-->
<div class="modal fade" id="signup-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0 mb-0">
          <div class="card-header bg-white pb-4">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="text-muted text-center mb-3">
              <small>Sign up with</small>
            </div>
            <div class="btn-wrapper text-center">
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/github.svg' %}>
                </span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="javascript:;" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img src={% static 'main/img/icons/common/google.svg' %}>
                </span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-4">
            <div class="text-center text-muted mb-4">
              <small>Or sign up with credentials</small>
            </div>
            <form role="form" class="signup-form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                  </div>
                  <input class="form-control" placeholder="Username" id="username" type="text">
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" id="email" type="email">
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" id="password1" type="password">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Confirm Password" id="password2" type="password">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-info mb-4 mt-2" id="signup-btn">Sign Up</button>
              </div>
              <div class="form-group mt--3 mb--1">
                <div class="alert alert-success text-center" id="signup_success" style="display:none">

                </div>
                <div class="alert alert-danger" id="signup_error" style="display:none">

                </div>
              </div>
            </form>
            <div class="text-center mb-3">
              <small>Already have an account? <button type="button" class="btn btn-outline-info btn-round btn-sm sign-in" data-dismiss="modal" data-toggle="modal" data-target="#signin-form">Sign In</button></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<script src="{% static 'main/js/core/jquery.min.js' %}"></script>
<script src="{% static 'main/js/core/popper.min.js' %}"></script>
<script src="{% static 'main/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/argon-design-system.min.js' %}"></script> 

<script>
$(document).ready(function(){

  // Sign Up 
  $(document).on("click","#signup-btn",function(e){
    e.preventDefault();
    var username = $('#username').val().toLowerCase().trim();
    var email = $('#email').val().trim();
    var password1 = $('#password1').val().trim();
    var password2 = $('#password2').val().trim();

    if (username == "" || email == "" || password1 == "" || password2 == "")
      {
        $("#signup_error").text("All Fields are Required!")
        $("#signup_error").show()
      }
    else if (!/^[a-zA-Z0-9_\-.]+$/.test(username))
      {
        $("#signup_error").text("Invalid Username!")
        $("#signup_error").show()
      }
    else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
      {
        $("#signup_error").text("Invalid email address!")
        $("#signup_error").show()
      }
    else if (password1.length <8)
      {
        $("#signup_error").text("Password atleast 8 characters!")
        $("#signup_error").show()
      }
    else if(password1!=password2)
      {
        $("#signup_error").text("Passwords do not match!")
        $("#signup_error").show()                
      }
    else{   
      $("#signup-btn").attr("disabled","disabled");
      $("#signup-btn").html("Inserting... Please Wait.."); 

      $.ajax({
        type:'POST',
        url:'{% url 'register' %}',
        data:{
          csrfmiddlewaretoken:'{{ csrf_token }}',
          action: "create-user",
          email: email,
          username: username,
          password: password1,
        },
      })
      .done(function(response){
        if(response['error']==false){           
          $("#signup_error").hide();
          $("#signup_success").html(response['errorMessage']+'<br>Wait for Admin approval');
          $("#signup_success").show();  
        }
        else{
          $("#signup_success").hide();
          $("#signup_error").text(response['errorMessage']);
          $("#signup_error").show();
        }
      })
      .fail(function(){
        $("#signup_success").hide();
        $("#signup_error").text("Something Went Wrong!");
        $("#signup_error").show();
      })
      .always(function(){
        $("#signup-btn").removeAttr("disabled");
        $("#signup-btn").html("Sign In");
      })
    $('.signup-form').trigger("reset");  
    }    
  });


  // Sign In 
  $(document).on("click","#signin-btn",function(e){
    e.preventDefault();
    var username = $('#uname').val().toLowerCase().trim();
    var password = $('#password').val().trim();

    if (username == "")
      {
        $("#signin_error").text("Username can't be blank!")
        $("#signin_error").show()
      }
    else if (password == "")
      {
        $("#signin_error").text("Password can't be blank!")
        $("#signin_error").show()
      }
    else{   
      $("#signin-btn").attr("disabled","disabled");
      $("#signin-btn").html("Checking..Please Wait.."); 

      $.ajax({
        type:'POST',
        url:'{% url 'login' %}',
        data:{
          csrfmiddlewaretoken:'{{ csrf_token }}',
          action: "create-user",
          username: username,
          password: password,
        },
      })
      .done(function(response){
        if(response['error']==true){           
          $("#signin_error").text(response['errorMessage']);
          $("#signin_error").show();
          
        }else{
          location.reload(true);
        }
      })
      .fail(function(){
        $("#signin_error").text("Something Went Wrong!");
        $("#signin_error").show();
      })
      .always(function(){
        $("#signin-btn").removeAttr("disabled");
        $("#signin-btn").html("Sign Up");
      })
    $('.signin-form').trigger("reset");  
    }    
  });


  $(document.body).click( function() {
    $("#signin_error").hide();
    $("#signup_success").hide();
    $("#signup_error").hide();
  });

});
</script>
{% endblock %}