{% load static %}

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'adminpanel/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'adminpanel/vendor/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/chart.js/dist/Chart.extension.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'adminpanel/js/argon.js' %}"></script>





  