{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
    <title>Academic| FindZ</title>
{% endblock %}

{% block body %}
    {% include 'main/partials/navbar.html' %}
    <div class="wrapper py-5">
        <div class="container px-7"> 
                <div class="col-xs-12 text-center"> 
                    <h2>Find the Best Academic Courses &amp; Tutorials</h2>    
                    <input class="form-control navbar-search-input js-navbar-search-input nav-input js-filter-topics" type="text" placeholder="Search for the courses you want to learn: Discrete Mathematics, Data Structure,...">
                </div> 
        </div> 
    </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {


});
</script>
{% endblock %}