{% extends 'main/base.html' %} {% load static %} {% block meta %}
<title>Edit Password | FindZ</title>
{% endblock %} {% block body %} {% include 'main/partials/navbar.html' %}
<style>
    .page--section-heading {
        line-height: 1.2;
        padding: 10px 0;
        margin-top: 100px;
    }
    
    .page--section-heading {
        font-size: 30px!important;
        font-weight: 600!important;
    }
    
    label {
        font-weight: bold;
    }
    
    input {
        margin-bottom: 15px;
    }
</style>
<div class="col-xs-12 text-center margintb-lg ">
    <div class="page--section-heading in-block text-primary">Change Password</div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <label for="">Current Password</label>
            <input required autocomplete="off" class="form-control" type="password" name="current_password" />
            <label>New Password</label>
            <input required autocomplete="off" class="form-control" type="password" name="password" />
            <label>Confirm Password</label>
            <input required autocomplete="off" class="form-control" type="password" name="password_confirmation" />

            <div class="form-group col-xs-12 margintop-md text-center">
                <button type="submit" class="btn btn-md btn-primary mt-4">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="page-wrapper fx fx--ai-c fx--jc-c">
    <div class="page--section no-paddingtop">
        <div class="page--section-header">
            <div class="container alt">
                <div class="row">
                    <div class="page--section-header col-xs-12">
                        <div class="page--section-heading big text-primary text-center">Change Password
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page--section-body settings--section margintop-md">
            <div class="container alt">
                <div class="row">
                    <div class="page--section-body col-xs-12">
                        <form method="post" action="https://hackr.io/users/update_password" enctype="multipart/form-data" id="edit-password">
                            <input type="hidden" name="_token" value="nCvHVmJlLwMo3Mp6dlGjelBwKHpEoagg45agGyx5">
                            <div class="form-group col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 ">
                                <label>Current Password</label>
                                <input required autocomplete="off" class="form-control" type="password" name="current_password" />
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 ">
                                <label>New Password</label>
                                <input required autocomplete="off" class="form-control" type="password" name="password" />
                                <div class="help-block">
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 ">
                                <label>Confirm Password</label>
                                <input required autocomplete="off" class="form-control" type="password" name="password_confirmation" /> </div>
                            <div class="form-group col-xs-12 margintop-sm text-center"> <button class="btn btn-md btn-primary">Save Changes</button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div > -->
{% endblock %}