{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
    <title>{{ catagory.title}} | FindZ</title>
{% endblock %}

{% block body %}
    {% include 'main/partials/navbar.html' %}
    <div class="wrapper py-5">
      <div class="container-fluid card mt--5">
        <div class="card-body d-flex flex-row mx-md-6 mx--3">
          <div class=" align-self-center mr-4">
            <h4 style="font-weight: 700;">{{ catagory.title }} Courses</h4>
            <small style="font-size: .88em;">Find paid and free {{ catagory.title }} tutorials and courses.<br>
                Choose from select topics and learn from the best instructors and institutions.</small>
          </div>
          <div class="ml-md-auto align-self-center"><img src={% static 'main/img/theme/react.jpg' %} alt="..." class="avatar avatar-lg rounded"></div>
        </div>
      </div>

      <div class="container"> 
        <div class="d-flex flex-row py-4" id="tutorial-box">
          <div class="col-lg-3 col-1">
            <div class="card my-3">
              <div class="card-body">
                <div class="d-flex flex-row">
                  <div><h6>Filters</h6></div> 
                  <div class="ml-auto"><small class="text-red" style="font-size: .6em; font-weight: 600;">Clear all filters</small></div>
                </div>
                <hr class="m--1">
                <div class="my-3">
                  <h6 style="font-size: .9em;">Type of course</h6>
                  <div class="custom-control custom-checkbox mb-1">
                    <input class="custom-control-input" id="free" type="checkbox">
                    <label class="custom-control-label" for="free">
                      <span>Free</span>
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="paid" type="checkbox">
                    <label class="custom-control-label" for="paid">
                      <span>Paid</span>
                    </label>
                  </div>
                </div>
                <hr class="m--1">
                <div class="my-3">
                  <h6 style="font-size: .9em;">Subcatagory</h6>
                  <div class="custom-control custom-checkbox mb-1">
                    <input class="custom-control-input" id="free1" type="checkbox">
                    <label class="custom-control-label" for="free1">
                      <span>Free</span>
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input class="custom-control-input" id="paid1" type="checkbox">
                    <label class="custom-control-label" for="paid1">
                      <span>Paid</span>
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input class="custom-control-input" id="free2" type="checkbox">
                    <label class="custom-control-label" for="free2">
                      <span>Free</span>
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1">
                    <input class="custom-control-input" id="paid2" type="checkbox">
                    <label class="custom-control-label" for="paid2">
                      <span>Paid</span>
                    </label>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div class="col-lg-9 col-11">
          {% for tutorial in tutorials %}            
              <div class="card my-3" >
                <div class="card-body">                  
                  <div class="d-flex">
                      <div class="mr-2"><img src={% static 'main/img/theme/react.jpg' %} alt="..." class="avatar avatar-lg rounded"></div>
                      <div class="align-self-center">
                        <h6 class="card-title">{{ tutorial.title }} </h6>                            
                        <small>{{ tutorial.url }} </small>                            
                      </div>
                      <div class="ml-auto align-self-center mr-2">
                        <h6 class="heading mt-2 text-green"><b> {{ tutorial.type }} </b></h6>
                      </div>
                      <div class="align-self-center">
                        <div> <a href="{{ tutorial.url }}" target="_blank" role="button" class="btn btn-sm btn-primary mb-2 px-3" style="font-size: .6em;">Go to Course</a></div>
                        <div> <a href="" role="button" class="btn btn-sm btn-outline-primary px-4" style="font-size: .6em;">See Details</a></div>
                      </div>
                  </div>                 
                </div>
              </div>            
          {% endfor %}
          </div>
        </div>
      </div> 
    </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {


});
</script>
{% endblock %}