{% extends 'adminpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>AdminPanel Catagories | Find-Z</title>
{% endblock %}

{% block styles %}
  <!-- Page plugins -->
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/jquery-ui/jquery-ui.css' %}">
{% endblock %}

{% block body %}
  
  {% include 'adminpanel/partials/sidebar.html' %}
  <!-- Main content -->
  <div class="main-content" id="panel">
  {% include 'adminpanel/partials/navbar.html' %}
    <!-- Header -->
    <div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 d-inline-block mb-0">Catagories</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">AdminPanel</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Catagories</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Root Modal-->
    <div class="modal fade" id="addRootModal" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card bg-secondary shadow border-0 mb-0">
              <div class="card-header bg-white pb-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="text-muted mb-1">
                  <small class="heading">Add Root</small>
                </div>
                <div class="btn-wrapper">
                  <form role="form" class="addRoot">
                    <div class="form-group col-8 ml-auto">
                      <div class="input-group input-group-alternative input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-folder-17"></i></span>
                        </div>
                        <input class="form-control" placeholder="Type Name of Root" type="text" id="rootName">
                      </div>
                    </div>
                    <div class="text-right mt--3">
                      <button type="button" class="btn btn-outline-primary btn-round btn-sm" id="addRootButton">Add</button>
                    </div>
                    <div class="form-group mt-2 mb--2">
                      <div class="alert alert-success" id="root_success" style="display:none">

                      </div>
                      <div class="alert alert-danger" id="root_error" style="display:none">

                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-body px-lg-4 pt-lg-3 pb-lg-5">
                    <div class="form-group mt-1 mb--2">
                      <div class="alert alert-success" id="root_upt_success" style="display:none">

                      </div>
                      <div class="alert alert-danger" id="root_upt_error" style="display:none">

                      </div>
                    </div>
                <div class="text-muted mb-1">
                  <small>Roots</small>
                </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush" id="root-datatable">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                  {% for root in roots %}
                    <tr>
                      <th>
                        {{ root.title }} 
                      </th>
                      <td class="text-right">
                        <div class="dropdown dropleft">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu">
                          <button type="button" class="btn btn-sm btn-edit dropdown-item" id="edit-{{root.id}}"> Edit</button>
                                                            
                          <button type="button" class="btn btn-sm btn-delete dropdown-item" id="delete-{{root.id}}"> Delete</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Add Catagory Modal-->
    <div class="modal fade" id="addCatagoryModal" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body ui-front p-0">
            <div class="card bg-secondary shadow border-0 mb-0">
              <div class="card-header bg-white pb-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="text-muted mb-1">
                  <small class="heading">Add Catagory</small>
                </div>
              </div>
              <div class="card-body px-lg-4 py-lg-4">
                <form role="form" class="addCatagory">
                  <div class="form-group mb-2">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-ungroup"></i></span>
                      </div>
                      <input class="form-control" placeholder="Catagory Name" id="catagoryName" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-folder-17"></i></span>
                      </div>
                        <select class="form-control form-control-sm" data-toggle="select" id="selectRoot">
                          <option value="" selected>select root</option>
                        {% for root in roots %}
                          <option value="{{ root.id }}">{{ root.title }}</option>
                        {% endfor %} 
                        </select>
                    </div>
                  </div>

                  <div class="dropzone dropzone-single mb-3" data-toggle="dropzone" data-dropzone-url="http://">
                    <div class="fallback">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="projectCoverUploads">
                        <label class="custom-file-label" for="projectCoverUploads">Choose file</label>
                      </div>
                    </div>
                    <div class="dz-preview dz-preview-single">
                      <div class="dz-preview-cover">
                        <img class="dz-preview-img" src="..." alt="..." data-dz-thumbnail>
                      </div>
                    </div>
                  </div>                  
                  <div class="text-right">
                    <button type="button" class="btn btn-primary mb-4 btn-sm" id="addCatagoryButton">Add</button>
                  </div>
                    <div class="form-group mt--2 mb--1">
                      <div class="alert alert-success" id="catagory_success" style="display:none">

                      </div>
                      <div class="alert alert-danger" id="catagory_error" style="display:none">

                      </div>
                    </div>
                </form>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Edit Catagory Modal-->
    <div class="modal fade" id="editCatagoryModal" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body ui-front p-0">
            <div class="card bg-secondary shadow border-0 mb-0">
              <div class="card-header bg-white pb-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="text-muted mb-1">
                  <small class="heading">Edit Existing Catagory</small>
                </div>
              </div>
              <div class="card-body px-lg-4 py-lg-4">
                <form role="form" class="editCatagory">
                  <div class="form-group mb-2">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-ungroup"></i></span>
                      </div>
                      <input class="form-control" id="catagoryName" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-folder-17"></i></span>
                      </div>
                        <select class="form-control form-control-sm" data-toggle="select" id="selectRoot">
                          <option value="" selected>select root</option>
                        {% for root in roots %}
                          <option value="{{ root.id }}">{{ root.title }}</option>
                        {% endfor %} 
                        </select>
                    </div>
                  </div>

                  <div class="dropzone dropzone-single mb-3" data-toggle="dropzone" data-dropzone-url="http://">
                    <div class="fallback">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="projectCoverUploads">
                        <label class="custom-file-label" for="projectCoverUploads">Choose file</label>
                      </div>
                    </div>
                    <div class="dz-preview dz-preview-single">
                      <div class="dz-preview-cover">
                        <img class="dz-preview-img" src="..." alt="..." data-dz-thumbnail>
                      </div>
                    </div>
                  </div>                  
                  <div class="text-right">
                    <button type="button" class="btn btn-primary mb-4 btn-sm" id="editCatagoryButton">Update</button>
                  </div>
                    <div class="form-group mt--2 mb--1">
                      <div class="alert alert-success" id="edit_catagory_success" style="display:none">

                      </div>
                      <div class="alert alert-danger" id="edit_catagory_error" style="display:none">

                      </div>
                    </div>
                </form>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">

    <div class="row" id="upt">
      <div class="col-md-12">
        <div class="alert alert-success" id="upt_success" style="display:none">

        </div>
        <div class="alert alert-danger" id="upt_error" style="display:none">

        </div>
      </div>
    </div> 
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="row align-items-center">
              <div class="col-12 text-right py-4">
                <div class="pr-4">
                  <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#addRootModal"><i class="ni ni-fat-add align-middle"></i>Add Root</button>
                  <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#addCatagoryModal"><i class="ni ni-fat-add align-middle"></i>Add Catagory</button>
                </div>
              </div>
            </div>
            <div class="table-responsive py-4">
              <table class="table table-flush" id="catagory-datatable">
                <thead class="thead-light">
                  <tr>
                  <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Root</th>
                    <th></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Root</th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody>
                {% for catagory in catagories %}
                  <tr>
                    <td>{{ catagory.avatar }}</td>
                    <td>{{ catagory.title }}</td>
                    <td>{{ catagory.root.title }}</td>
                    <td class="text-right">
                      <div class="dropdown dropleft">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu ">
                          <button type="button" class="btn btn-sm btn-edit dropdown-item " data-toggle="modal" data-target="#editCatagoryModal" id="edit-{{catagory.id}}"><span class="align-middle"> <i class="far fa-edit"></i></span> Edit</button>
                                                            
                          <button type="button" class="btn btn-sm btn-delete dropdown-item" id="delete-{{catagory.id}}" ><span class="align-middle"> <i class="fas fa-trash"></i></span> Delete</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
        {% include 'adminpanel/partials/footer.html' %}
    </div>
  </div>

{% endblock %}

{% block scripts %}

  <!-- DataTable JS for Page Plugins -->
  <script src="{% static 'adminpanel/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/jquery-ui/jquery-ui.js' %}"></script>

<script>
$(document).ready(function() {

  // Initialize Tutotrial DataTable
  $("#catagory-datatable").DataTable();

    // Add New Root Submit Button
    $(document).on("click","#addRootButton",function(e) {
      e.preventDefault();
      var rootName = $('#rootName').val().trim();
                
    if (!/^[a-zA-Z" "\-]+$/.test(rootName))
      {
    $("#root_error").text("Invalid Root name!")
    $("#root_error").show()
      }
    else
      {   
        $("#addRootButton").attr("disabled","disabled");
        $("#addRootButton").html("Inserting... Please Wait.."); 

        $.ajax({
          type:'POST',
          url:'{% url 'admin-catagories' %}',
          data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            action: "create-root",
            rootName: rootName,
          },
        })
        .done(function(response){
          if(response['error']==false){
            var markup = '<tr><th>' +rootName+ '</th><td class="text-right"><div class="dropdown dropleft"><a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a><div class="dropdown-menu"><button type="button" class="btn btn-sm btn-edit dropdown-item" id="edit-'+response['id']+'"> Edit</button><button type="button" class="btn btn-sm btn-delete dropdown-item" id="delete-'+response['id']+'"> Delete</button></div></div></td></tr>';
            $("#root-datatable tbody").append(markup);
            $("#root_error").hide();
            $("#root_success").text(response['errorMessage']);
            $("#root_success").show();  

          }
          else{
            $("#root_success").hide();
            $("#root_error").text(response['errorMessage']);
            $("#root_error").show();
          }
        })
        .fail(function(){
          $("#root_success").hide();
          $("#root_error").text("Something Went Wrong!");
          $("#root_error").show();
        })
        .always(function(){
          $("#addRootButton").removeAttr("disabled");
          $("#addRootButton").html("Add");
        })
      $('.addRoot').trigger("reset");  
      }
    });


    // Delete Root
    $(document).on("click","#addRootModal .btn-delete",function(){
      var idValue = $(this).attr("id").split("-");
      var id = idValue[1];
      $("#delete-"+id).closest('tr').attr("id", "root-"+id);
      $('#delete-'+id).closest('tr').find('th:eq(0)').attr('id', 'rootName');
      var rootName = $("#root-"+id+" #rootName").text().trim();

      var action = confirm("Are you sure you want to Delete "+ rootName +"?");
      if (action != false) {

      $.ajax({
        url:'{% url 'admin-catagories' %}',
        type:'POST',
        data:{
          csrfmiddlewaretoken:'{{ csrf_token }}',
          action: "delete-root",
          id:id
          },
      })
      .done(function(response){
        if(response['error']==false){
          $("#root-datatable #root-"+id).remove();
          $("#root_upt_error").hide();
          $("#root_upt_success").text(response['errorMessage']);
          $("#root_upt_success").show();
        }
        else{
          $("#root_upt_success").hide();
          $("#root_upt_error").text(response['errorMessage']);
          $("#root_upt_error").show();
        }
      })
      .fail(function(){
        $("#root_upt_success").hide();
        $("#root_upt_error").text("Something Went Wrong!");
        $("#root_upt_error").show();
      });
      }
    });


    // Add New Catagory Submit Button
    $(document).on("click","#addCatagoryButton",function(e) {
      e.preventDefault();
      var catagoryName = $("#catagoryName").val();
      var rootID = $('#selectRoot').val();
                
    if (!/^[a-zA-Z" "\-]+$/.test(catagoryName))
      {
    $("#catagory_error").text("Invalid Catagory name!")
    $("#catagory_error").show()
      }
    else
      {   
        $("#addCatagoryButton").attr("disabled","disabled");
        $("#addCatagoryButton").html("Inserting... Please Wait.."); 

        $.ajax({
          type:'POST',
          url:'{% url 'admin-catagories' %}',
          data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            action: "create-catagory",
            rootID: rootID,
            catagoryName: catagoryName,
          },
        })
        .done(function(response){
          if(response['error']==false){           
            $("#catagory_error").hide();
            $("#catagory_success").text(response['errorMessage']);
            $("#catagory_success").show();  

            var rootName = response['rootName'];
            var avatar = response['avatar'];
            var action = '<div class="dropdown dropleft"><a class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a><div class="dropdown-menu "><button type="button" class="btn btn-sm btn-edit dropdown-item " data-toggle="modal" data-target="#editCatagoryModal" id="edit-'+response['id']+'"><span class="align-middle"> <i class="far fa-edit"></i></span> Edit</button><button type="button" class="btn btn-sm btn-delete dropdown-item" id="delete-'+response['id']+'" ><span class="align-middle"> <i class="fas fa-trash"></i></span> Delete</button></div></div>';                            
            $('#catagory-datatable').dataTable().fnAddData([
                avatar,
                catagoryName,
                rootName,
                action,
            ]); 
            
            $("#edit-"+response['id']).closest("td").addClass("text-right");
          }
          else{
            $("#catagory_success").hide();
            $("#catagory_error").text(response['errorMessage']);
            $("#catagory_error").show();
          }
        })
        .fail(function(){
          $("#catagory_success").hide();
          $("#catagory_error").text("Something Went Wrong!");
          $("#catagory_error").show();
        })
        .always(function(){
          $("#addCatagoryButton").removeAttr("disabled");
          $("#addCatagoryButton").html("Add");
        })
      $('.addCatagory').trigger("reset");  
      }
    });


    // Edit Button Modal 
    $(document).on("click",".btn-edit",function() {
      var idValue = $(this).attr("id").split("-");
      var id = idValue[1];
      $("#edit-"+id).closest('tr').attr("id", "catagory-"+id);
      $('#edit-'+id).closest('tr').find('td:eq(0)').attr('id', 'avatar');
      $('#edit-'+id).closest('tr').find('td:eq(1)').attr('id', 'catagoryName');
      $('#edit-'+id).closest('tr').find('td:eq(2)').attr('id', 'rootName');

      var catagoryName = $("#catagory-"+id+" #catagoryName").text();
      var rootName = $("#catagory-"+id+" #rootName").text().trim();
      $(".editCatagory #catagoryName").val(catagoryName);
      $(".editCatagory").attr('id', id);

      {% for root in roots %}
      if (rootName == "{{root.title}}"){
        $(".editCatagory #selectRoot option[value='{{root.id}}']").prop('selected',true);
      }
      {% endfor %}     
    });
            

    // An Existing catagory Update Button
    $(document).on("click","form #editCatagoryButton",function(e) {
      e.preventDefault();
      var id = $(".editCatagory").attr("id");
      var catagoryName = $('.editCatagory #catagoryName').val();
      var rootID = $('.editCatagory #selectRoot').val();

      if (!/^[a-zA-Z" "\-]+$/.test(catagoryName))
      {
        $("#edit_catagory_error").text("Invalid Catagory name!")
        $("#edit_catagory_error").show();                  
      }
      else{                     
        var action = confirm("Are you sure you want to Update "+ catagoryName +"?");
        if (action != false) 
        {
          $("#editCatagoryButton").attr("disabled","disabled");
          $("#editCatagoryButton").html("Updating... Please Wait..");
                        
          $.ajax({
            type:'POST',
            url:'{% url 'admin-catagories' %}',
            data:{
              csrfmiddlewaretoken:'{{ csrf_token }}',
              action: "edit-catagory",
              id: id,
              catagoryName: catagoryName,
              rootID: rootID,
            },
          })
          .done(function(response){
            if(response['error']==false){
              $("#edit_catagory_error").hide();
              $("#edit_catagory_success").text(response['errorMessage']);
              $("#edit_catagory_success").show();

              $("#catagory-"+id+" #catagoryName").text(catagoryName);
              $("#catagory-"+id+" #rootName").text(response['rootName']);
                                
            }                           
            else{
              $("#edit_catagory_success").hide();
              $("#edit_catagory_error").text(response['errorMessage']);
              $("#edit_catagory_error").show();
            }
          })
          .fail(function(){
            $("#edit_catagory_success").hide();
            $("#edit_catagory_error").text("Something Went Wrong!");
            $("#edit_catagory_error").show();
          })
          .always(function(){
            $("#editCatagoryButton").removeAttr("disabled");
            $("#editCatagoryButton").html("Update");
          })
        }
      }
    });



    // Delete Catagory 
    $(document).on("click","#catagory-datatable .btn-delete",function(){
      var idValue = $(this).attr("id").split("-");
      var id = idValue[1];
      $("#delete-"+id).closest('tr').attr("id", "catagory-"+id);
      $('#delete-'+id).closest('tr').find('td:eq(1)').attr('id', 'catagoryName');
      var catagoryName = $("#catagory-"+id+" #catagoryName").text().trim();

      var action = confirm("Are you sure you want to Delete "+ catagoryName +"?");
      if (action != false) {

      $.ajax({
        url:'{% url 'admin-catagories' %}',
        type:'POST',
        data:{
          csrfmiddlewaretoken:'{{ csrf_token }}',
          action: "delete-catagory",
          id:id
          },
      })
      .done(function(response){
        if(response['error']==false){
          $("#catagory-datatable").dataTable().fnDeleteRow($("#catagory-"+id));
          $("#upt_error").hide();
          $("#upt_success").text(response['errorMessage']);
          $("#upt_success").show();
        }
        else{
          $("#upt_success").hide();
          $("#upt_error").text(response['errorMessage']);
          $("#upt_error").show();
        }
      })
      .fail(function(){
        $("#upt_success").hide();
        $("#upt_error").text("Something Went Wrong!");
        $("#upt_error").show();
      });
      }
    });



    $(document.body).click( function() {
      $("#upt_success").hide();
      $("#upt_error").hide();
      $("#root_upt_success").hide();
      $("#root_upt_error").hide();
      $("#root_success").hide();
      $("#root_error").hide();
      $("#catagory_success").hide();
      $("#catagory_error").hide();
      $("#edit_catagory_success").hide();
      $("#edit_catagory_error").hide();
    });



});
</script>
{% endblock %}