{% extends 'adminpanel/base.html' %}
{% load static %}

{% block meta %}
    <title>AdminPanel Tutorials | Find-Z</title>
{% endblock %}

{% block styles %}
  <!-- Page plugins -->
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminpanel/vendor/jquery-ui/jquery-ui.css' %}">
{% endblock %}

{% block body %}
  
  {% include 'adminpanel/partials/sidebar.html' %}
  <!-- Main content -->
  <div class="main-content" id="panel">
  {% include 'adminpanel/partials/navbar.html' %}
    <!-- Header -->
    <div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 d-inline-block mb-0">Tutorials</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">AdminPanel</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tutorials</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Add Tutorial Modal-->
    <div class="modal fade" id="addTutorialModal" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body ui-front p-0">
            <div class="card bg-secondary shadow border-0 mb-0">
              <div class="card-header bg-white pb-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="text-muted mb-1">
                  <small class="heading">Add Tutorial</small>
                </div>
              </div>
              <div class="card-body px-lg-4 py-lg-4">
                <form role="form" class="addTutorial">
                  <div class="form-group mb-2">
                    <div class="input-group input-group-alternative input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
                      </div>
                      <input class="form-control" placeholder="Tutorial Name" id="tutorialName" type="text">
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <div class="input-group input-group-alternative input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-world-2"></i></span>
                      </div>
                      <input class="form-control" placeholder="URL" id="tutorialURL" type="text">
                    </div>
                  </div>
                  <div class="form-group mb-2" id="tutorialDesc">                
                      {{form.media }}    
                      {{form}}           
                  </div>

                  <!-- <div class="form-row">
                  <div class="form-group mb-2">                    
                      <div id="tutorialDesc"><div class="input-group input-group-alternative input-group-sm"></div></div>                   
                  </div>

                    <div class="form-group col-6">
                        <select class="form-control form-control-sm" data-toggle="select" id="select_root">
                        {% for root in roots %}
                          <option value="{{ root.id }}">{{ root.title }}</option>
                        {% endfor %} 
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <select class="form-control form-control-sm" data-toggle="select" id="">
                          <option></option>                 
                        </select>
                    </div>
                  </div> -->

                  <div class="form-group">
                    <div class="input-group input-group-alternative input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-ungroup"></i></span>
                      </div>
                      <input class="form-control" placeholder="Catagory" id="select_catagory" type="text">
                    </div>
                  </div>
                  
                  <div class="text-right">
                    <button type="button" class="btn btn-primary mb-4 btn-sm" id="addTutorialButton">Add</button>
                  </div>
                    <div class="form-group mt--2 mb--1">
                      <div class="alert alert-success" id="tutorial_success" style="display:none">

                      </div>
                      <div class="alert alert-danger" id="tutorial_error" style="display:none">

                      </div>
                    </div>
                </form>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Page content -->
    <div class="container-fluid mt--6">

    <div class="row" id="upt">
      <div class="col-md-12">
        <div class="alert alert-success" id="upt_success" style="display:none">

        </div>
        <div class="alert alert-danger" id="upt_error" style="display:none">

        </div>
      </div>
    </div> 
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="row align-items-center">
              <div class="col-12 text-right py-4">
                <div class="pr-4">
                  <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#addTutorialModal"><i class="ni ni-fat-add align-middle"></i>Add Tutorial</button>
                </div>
              </div>
            </div>
            <div class="table-responsive py-4">
              <table class="table table-flush" id="tutorial-datatable">
                <thead class="thead-light">
                  <tr>
                  <tr>
                    <th>Name</th>
                    <th>type</th>
                    <th>Creator</th>
                    <th>Catagory</th>
                    <th>Root</th>
                    <th></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>type</th>
                    <th>Creator</th>
                    <th>Catagory</th>
                    <th>Root</th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody>
                {% for tutorial in tutorials %}
                  <tr>
                    <td>{{ tutorial.title }}</td>
                    <td>{{ tutorial.type }}</td>
                    <td>{{ tutorial.author }}</td>
                    <td>{{ tutorial.catagory.title }}</td>
                    <td>{{ tutorial.catagory.root.title }}</td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v text-black-50"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <button type="button" class="btn btn-sm btn-edit dropdown-item " data-toggle="modal" data-target="#editTutorialModal" id="edit-{{tutorial.id}}"><span class="align-middle"> <i class="far fa-edit "></i></span> Edit</button>
                                                            
                          <button type="button" class="btn btn-sm btn-delete dropdown-item" id="delete-{{tutorial.id}}" ><span class="align-middle"> <i class="fas fa-trash "></i></span> Delete</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
        {% include 'adminpanel/partials/footer.html' %}
    </div>
  </div>

{% endblock %}

{% block scripts %}

  <!-- DataTable JS for Page Plugins -->
  <script src="{% static 'adminpanel/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
  <script src="{% static 'adminpanel/vendor/jquery-ui/jquery-ui.js' %}"></script>

<script>
$(document).ready(function() {

  // Initialize Tutotrial DataTable
  $("#tutorial-datatable").DataTable();


    // Tutorial Form Root On Change Catagory

    /* $("#select_root").change(function() {
      var optionSelected = $(this).find("option:selected");
      var valueSelected  = optionSelected.val();

        $.ajax({
          type:'POST',
          url:'{% url 'admin-tutorials' %}',
          data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            action: "get-catagory",
            rootID: valueSelected,
          },
          success: function(catagory){
            $("#select_catagory option").remove();
            for (var i = catagory.length - 1; i >= 0; i--) {
                $("#select_catagory").append('<option>'+ catagory[i].['id'] +'</option>');
            }
          }
        });   
    }); */

    // Catagory Search
    $("#select_catagory").autocomplete({
      source: "{% url 'admin-tutorials' %}"
    });


    // Add New Tutorial Submit Button
    $(document).on("click","#addTutorialButton",function(e) {
      e.preventDefault();
      var tutorialName = $("#tutorialName").val();
      var tutorialURL = $("#tutorialURL").val().trim();
      var tutorialDesc = $("#id_desc").val();
      var catagory = $('#select_catagory').val().trim();

    if (!/^[a-zA-Z" "\-]+$/.test(tutorialName))
      {
    $("#tutorial_error").text("Invalid Tutorial name!")
    $("#tutorial_error").show()
      }
    else if (tutorialURL == "")
      {
    $("#tutorial_error").text("Tutorial URL is required!")
    $("#tutorial_error").show()
      }
    else if (catagory == "")
      {
    $("#tutorial_error").text("Catagory is required!")
    $("#tutorial_error").show()
      }
    else
      {   
        $("#addTutorialButton").attr("disabled","disabled");
        $("#addTutorialButton").html("Inserting... Please Wait.."); 

        $.ajax({
          type:'POST',
          url:'{% url 'admin-tutorials' %}',
          data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            action: "create-tutorial",
            catagory: catagory,
            tutorialName: tutorialName,
            tutorialURL: tutorialURL,
            tutorialDesc: tutorialDesc,
          },
        })
        .done(function(response){
          if(response['error']==false){
            $("#tutorial_error").hide();
            $("#tutorial_success").text(response['errorMessage']);
            $("#tutorial_success").show(); 
            
            var type = response['type'];
            var author = 'None'
            var rootName = response['rootName'];
            var catagoryName = response['catagoryName'];
            var action = '<div class="dropdown dropleft"><a class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a><div class="dropdown-menu "><button type="button" class="btn btn-sm btn-edit dropdown-item " data-toggle="modal" data-target="#editTutorialModal" id="edit-'+response['id']+'"><span class="align-middle"> <i class="far fa-edit"></i></span> Edit</button><button type="button" class="btn btn-sm btn-delete dropdown-item" id="delete-'+response['id']+'" ><span class="align-middle"> <i class="fas fa-trash"></i></span> Delete</button></div></div>';                            
            $('#tutorial-datatable').dataTable().fnAddData([
                tutorialName,
                type,
                author,
                catagoryName,
                rootName,
                action,
            ]); 
            
            $("#edit-"+response['id']).closest("td").addClass("text-right");            
          }
          else{
            $("#tutorial_success").hide();
            $("#tutorial_error").text(response['errorMessage']);
            $("#tutorial_error").show();
          }
        })
        .fail(function(){
          $("#tutorial_success").hide();
          $("#tutorial_error").text("Something Went Wrong!");
          $("#tutorial_error").show();
        })
        .always(function(){
          $("#addTutorialButton").removeAttr("disabled");
          $("#addTutorialButton").html("Add");
        })
      $('.addTutorial').trigger("reset");  
      }
    });


    // Delete Catagory 
    $(document).on("click","#tutorial-datatable .btn-delete",function(){
      var idValue = $(this).attr("id").split("-");
      var id = idValue[1];
      $("#delete-"+id).closest('tr').attr("id", "tutorial-"+id);
      $('#delete-'+id).closest('tr').find('td:eq(0)').attr('id', 'tutorialName');
      var tutorialName = $("#tutorial-"+id+" #tutorialName").text().trim();

      var action = confirm("Are you sure you want to Delete "+ tutorialName +"?");
      if (action != false) {

      $.ajax({
        url:'{% url 'admin-tutorials' %}',
        type:'POST',
        data:{
          csrfmiddlewaretoken:'{{ csrf_token }}',
          action: "delete-tutorial",
          id:id
          },
      })
      .done(function(response){
        if(response['error']==false){
          $("#tutorial-datatable").dataTable().fnDeleteRow($("#tutorial-"+id));
          $("#upt_error").hide();
          $("#upt_success").text(response['errorMessage']);
          $("#upt_success").show();
        }
        else{
          $("#upt_success").hide();
          $("#upt_error").text(response['errorMessage']);
          $("#upt_error").show();
        }
      })
      .fail(function(){
        $("#upt_success").hide();
        $("#upt_error").text("Something Went Wrong!");
        $("#upt_error").show();
      });
      }
    });


    $(document.body).click( function() {
      $("#upt_success").hide();
      $("#upt_error").hide();
      $("#root_success").hide();
      $("#root_error").hide();
      $("#catagory_success").hide();
      $("#catagory_error").hide();
      $("#tutorial_success").hide();
      $("#tutorial_error").hide();
    });


});
</script>
{% endblock %}